annotated-types==0.7.0
arrow==1.4.0
bcrypt==5.0.0
blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
dotenv==0.9.9
Flask==3.1.3
flask-cors==6.0.2
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-WTF==1.2.2
gunicorn==25.3.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
mailtrap==2.5.0
MarkupSafe==3.0.3
packaging==26.1
paystackapi==2.1.3
peewee==4.0.4
pydantic==2.13.2
pydantic_core==2.46.2
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.33.1
setuptools==82.0.1
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
Werkzeug==3.1.8
WTForms==3.2.1
